
trigger:
- main

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: 'acr-connection'
  imageRepository: 'rain-system'
  containerRegistry: 'rainacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build and push image to ACR
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to K8s
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: KubernetesManifest@0
      displayName: Deploy to Kubernetes
      inputs:
        action: deploy
        manifests: |
          $(Build.SourcesDirectory)/k8s-deployment.yaml
        containers: |
          $(containerRegistry)/$(imageRepository):$(tag)
